# Ignore environment variable files
.env

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environment
.venv/
venv/

# Ignore database (if you don’t want it in Git)
db.sqlite3

# Ignore IDE/editor files
.vscode/
*.swp

# Ignore static/media uploads (optional)
staticfiles/
media/
